<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- [END css] -->
    <style type="text/css">
      blockquote {
        margin-bottom: 10px;
        border-left-color: #bbb;
      }
      form {
        margin-top: 10px;
      }
      h1{
      }

      .header {
        max-width: 700px;
      }

      .head-info{
        text-align: center;
      }

      .form-signin input[type="text"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
      .row {
        margin-left: 0px;
        margin-top: 10px;
      }


    </style>

  </head>
  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">Secret Sharing</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="encrypt">Encrypt</a>
        <a class="p-2 text-dark" href="decrypt">Reconstruct</a>
        <a class="p-2 text-dark" href="us">About Us</a>
      </nav>
      <a class="btn btn-outline-primary" href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>

    <div class="container">
      <div class="row">
        <div id="teamMember" class="row" style="margin-top:150px">
              <div class="col-2"></div>
              <div class="col-2">
                  <img src="https://firebasestorage.googleapis.com/v0/b/pingterest-ffca7.appspot.com/o/guoyuan.jpeg?alt=media&token=8f7d2d07-10b2-407f-baa9-d430baec3603" alt="Guoyuan Wu" style="width:128px;height:135px;">
                  <h3 class="author-text">Guoyuan Wu</h3>
                  <span class="position">Fullstack Developer</span>
                  <br class="contact">guoyuanwu666@gmail.com</br>
              </div>
              <div class="col-2"></div>
              <div class="col-2">
                  <img class="img-author" src="https://firebasestorage.googleapis.com/v0/b/pingterest-ffca7.appspot.com/o/xueyang.jpeg?alt=media&token=e73f7a9f-a544-4407-81bd-786b9c6bb3f3" alt="Xueyang Xu" style="width:128px;height:135px;">
                  <h3 class="author-text">Xueyang Xu</h3>
                  <span class="position">Backend Developer</span>
                  <br class="contact">xuxy1994@gmail.com</br>
              </div>
              <div class="col-2"></div>
              <div class="col-2">
                  <img class="img-author" src="https://firebasestorage.googleapis.com/v0/b/pingterest-ffca7.appspot.com/o/yunwei.jpeg?alt=media&token=27eae494-4eae-4ebe-8e75-814da68e30b9" alt="Yunwei Qiang" style="width:128px;height:135px;">
                  <h3 class="author-text">Yunwei Qiang</h3>
                  <span class="position">Algorithm Developer</span>
                  <br class="contact">willqiangyw@gmail.com</br>
              </div>

        </div>
      </div>
      <br>
      <br>
      <h6 class="author-text">Great thanks to Xinyu Li for providing useful suggestions of application architechture and reforming the frontend design!</h6>
      <a href="https://xinyu.design">Xinyu's home page</a>
      <br>
      <br>
      <a href="https://youtu.be/MrfXZHTev_E">Our demo video</br>
      <div class="container text-center">
        <form action="/" method="get">
          <button class="btn btn-primary">Return to main page!</button>
        </form>
      </div>
    </div>
  </body>
</html>
{% endautoescape %}
